@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F5ECED;
    font-family: "Montserrat", system-ui;
    color: #1D2E49;
}
